<template>
  <div>
    <button @click="fetchData">Charger les données</button>
    <ul v-if="data">
      <li v-for="item in data" :key="item.id">{{ item.title }}</li>
    </ul>
  </div>
</template>

<script>
import axiosInstance from '@/axios';  // Assurez-vous du chemin correct

export default {
  data() {
    return {
      data: null
    };
  },
  methods: {
    async fetchData() {
      try {
        const response = await axiosInstance.get('/data');
        this.data = response.data;
      } catch (error) {
        console.error('Erreur lors de la récupération des données :', error);
      }
    }
  }
};
</script>

<style scoped>

</style>
