<template>
    <div>
      <h2>Temps</h2>
      <div v-if="!isPaused">
        <p>{{ timer }}</p>
        <button @click="pauseTimer" class="submit-btn">Pause</button>
      </div>
      <div v-else>
        <button @click="resumeTimer" class="submit-btn">Continuer</button>
      </div>
      <button @click="startTimer" v-if="!timerRunning" class="submit-btn">Demarrer</button>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        timer: "00:00:00",
        timerRunning: false,
        isPaused: false,
        startTime: null,
        elapsedTime: 0,
        timerInterval: null
      };
    },
    methods: {
      startTimer() {
        this.timerRunning = true;
        this.startTime = Date.now() - this.elapsedTime;
        this.updateTimer();
      },
      pauseTimer() {
        this.isPaused = true;
        clearInterval(this.timerInterval);
      },
      resumeTimer() {
        this.isPaused = false;
        this.startTime = Date.now() - this.elapsedTime;
        this.updateTimer();
      },
      updateTimer() {
        this.timerInterval = setInterval(() => {
          if (!this.isPaused) {
            this.elapsedTime = Date.now() - this.startTime;
            this.timer = this.formatTime(this.elapsedTime);
          }
        }, 1000);
      },
      formatTime(milliseconds) {
        const hours = Math.floor(milliseconds / 3600000);
        const minutes = Math.floor((milliseconds % 3600000) / 60000);
        const seconds = Math.floor((milliseconds % 60000) / 1000);
        return (
          ("0" + hours).slice(-2) +
          ":" +
          ("0" + minutes).slice(-2) +
          ":" +
          ("0" + seconds).slice(-2)
        );
      }
    },
    beforeUnmount() {
      clearInterval(this.timerInterval);
    }
  };
  </script>
  
  <style>

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #45a049;
}
  </style>
  