<template>
  <div>
    <h2>Ajouter une entrée de temps</h2>
    <form @submit.prevent="submitTimeEntry">
      <div>
        <label for="title">Titre :</label>
        <input id="title" v-model="title" required>
      </div>
      <div>
        <label for="description">Description :</label>
        <textarea id="description" v-model="description"></textarea>
      </div>
      <div>
        <label for="start_time">Heure de début :</label>
        <input id="start_time" type="datetime-local" v-model="start_time" required>
      </div>
      <div>
        <label for="end_time">Heure de fin :</label>
        <input id="end_time" type="datetime-local" v-model="end_time" required>
      </div>
      <button type="submit" class="submit-button">Enregistrer</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'TimeEntryForm',
  data() {
    return {
      title: '',
      description: '',
      start_time: '',
      end_time: ''
    };
  },
  methods: {
    async submitTimeEntry() {
      try {
        const newEntry = {
          title: this.title,
          description: this.description,
          start_time: this.start_time,
          end_time: this.end_time
        };

        const token = localStorage.getItem('token');

        const response = await axios.post('http://127.0.0.1:8000/api/time-entries/', newEntry, {
          headers: {
            'Authorization': `Token ${token}`
          }
        });

        console.log('Entrée de temps enregistrée :', response.data);
        
        // Réinitialiser le formulaire après l'enregistrement
        this.title = '';
        this.description = '';
        this.start_time = '';
        this.end_time = '';
      } catch (error) {
        console.error("Erreur lors de l'enregistrement de l'entrée de temps :", error);
      }
    }
  }
};
</script>

<style>

/* Styles généraux du formulaire */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* Styles des champs de formulaire */
form div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="title"], input[type="description"], textarea {
  width: 100%;
  padding: 5px 0px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: auto;
}

/* Styles du bouton de soumission */
.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}

</style>