<template>
  <div>
    <h2>temps a entrer</h2>
    <ul>
      <li v-for="entry in timeEntries" :key="entry.id">
        <h3>{{ entry.title }}</h3>
        <p>{{ entry.description }}</p>
        <p>Start: {{ entry.start_time }}</p>
        <p>End: {{ entry.end_time }}</p>
        <p>Duration: {{ entry.duration }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
import axiosInstance from '../axios.js'; // Importez votre instance Axios configurée

export default {
  name: 'TimeEntryList',
  data() {
    return {
      timeEntries: []
    };
  },
  created() {
    this.fetchTimeEntries();
  },
  methods: {
    fetchTimeEntries() {
      axiosInstance.get('/time-entries/')
        .then(response => {
          this.timeEntries = response.data;
        })
        .catch(error => {
          console.error('Il y a eu une erreur!', error);
          if (error.response) {
            console.log('Response data:', error.response.data);
            console.log('Response status:', error.response.status);
            console.log('Response headers:', error.response.headers);
          } else if (error.request) {
            console.log('Request:', error.request);
          } else {
            console.log('Error message:', error.message);
          }
        });
    }
  }
};
</script>
