<template>
  <div id="app">
    <h1>Time Tracking App</h1>
    <TimerTracker />
    <TimeEntryList />
    <TimeEntryForm />
  </div>
</template>

<script>
import TimerTracker from './components/TimerTracker.vue'
import TimeEntryList from './components/TimeEntryList.vue'
import TimeEntryForm from './components/TimeEntryForm.vue'

export default {
  name: 'App',
  components: {
    TimerTracker,
    TimeEntryList,
    TimeEntryForm
  }
} 
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
